# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BCI-Testing.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Charl\Desktop\Git Repositorys\BCI-Testing\BCI-Testing\.idea\.idea.BCI-Testing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
